


.profile {
  display:grid;
  grid-template-rows: repeat(14, auto);
  height: 85vh;
  width: 100%;
  background-size: 100% 85vh;
  background-image: url("https://live.staticflickr.com/3374/3508275007_b6fc9c3eba_b.jpg");
  text-align: center;
}
.name{
  position: relative;
  top: 35px;
  font-style: italic;
  color: white;
}

.Email {
  position: relative;
  top: 55px;
  font-style: italic;
  color: white;
}

.picture {
  position: relative;
  left: 870px;
  width: 100px;
  height: 100px;
}
