.SelectBook {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/016/781/114/medium/cedric-arsenault-bookspile-booksedit.jpg?1553456335");
    background-size: 100% 100%;
    min-height: 85vh;
}

.booklist-title {
    padding: 2% 0 1% 0;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: white;
    text-align: center; 
}