@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300&display=swap');

.App-header {
    background-color: #FFD966;
    padding: 3vh;
}

.App-title {
    text-align: center;
    margin: 0;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

/*
Source for loader: https://www.w3schools.com/howto/howto_css_loader.asp
 */
.spinner {
    z-index: 100;
    border: 16px solid orange;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 20%;
    position: absolute;
}

.spinner2 {
    z-index: 100;
    border: 16px solid orange;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 20%;
    margin-left: 45%;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.outer-loader {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 90;
    height: 100%;
    width: 100%;
}

.overlay-loader {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 90;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}