#details-container {
    padding-top: 2%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 370px));
    grid-template-rows: auto;
    font-family: Roboto, sans-serif;
}

.book-information {
    display: flex;
    flex-flow: row;
    padding-bottom: 20px;
}

.book-information >  img {
    width: 300px;
    height: 406px;
    grid-row: 1;
    grid-column: 2;
    justify-self: stretch;
}

.buttons {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-flow: column wrap;

    width: 40%;
}

.startBtn {
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-size: normal;
}

#buttons-book-rating {
    margin-top: auto;
    align-self: end;
}


.details-line {
    border-bottom: 2px solid black;
    width: 95%;
    margin: 2%;
}

.details-heading {
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
}

.details-text {
    font-size: initial;
    font-weight: normal;
}


#details-ingredients {
    grid-column: 2 / 5;
    grid-row: 1;

    display: flex;
    height: auto;
    flex-flow: column wrap;
}

.details-ingredient-dish {
    margin: 2%;
    margin-left: 3%;
    color: #808080;
}

.details-ingredient-dish > div {
    margin-top: 3%;
}

.details-book-list-black-text {
    color: black;
}

.amount {
    grid-column: 1;
}

.ingredient {
    grid-column: 2;
}

#details-ingredient-header {
    margin-top: 2%;
    margin-left: 3%;
    font-weight: bold;
}

#addToMenuBtn {
    width: 100%;
}

.shoppingCartBtn {
    background-color: #5CB85C;
    color: white;
}

.shoppingCartBtn:hover {
    background-color: #449D44;
}

.bookListBtn {
    background-color: white;
    border: 1px solid #A9A9A9;

    margin-top: 15px;
}

.bookListBtn:hover {
    background-color: #E6E6E6;
}

#details-left-container {
    border-top: 2px solid #CECECE;
    border-bottom: 2px solid #CECECE;
    grid-column: 2 / 5;
    grid-row: 2 / span 3;
}


.details-image {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    border: none;
}

#details-image-text {
    max-height: 100%;
}

#details-preparation {
    grid-row: 5;
    grid-column: 2;
}


#backToSearchBtn {
    width: 150px;
    text-align: center;
    border: none;
}

.backBtn {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 10px;
    background-color: white;
    color: #A50A29;
    cursor: pointer;
}

.backBtn:hover {
    text-decoration: underline;
}

#details-ingredient-list {
    width: 60%;
}


@media (max-width: 450px) {

    #details-container {
        grid-template-columns: 100%;
        grid-column-gap: 0;
        border: 0;
    }

    .details-heading {
        margin-left: 2%;
    }

    .details-text {
        font-size: small;
    }

    #backToSearchBtn {
        grid-column: 1;
    }

    #details-ingredients {
        grid-column: 1;
        grid-row: 5;
        margin-right: 0;
    }

    #details-ingredient-list {
        height: auto;
    }

    #details-preparation {
        grid-column: 1;
        grid-row: 6;
        text-align: justify;
        margin-left: 2px;
        margin-right: 2px;
        font-size: small;
    }

    #details-image-text {
        margin-left: 2%;
        margin-right: 2%;
        text-align: justify;
    }

    #details-left-container {
        grid-column: 1;
        margin-bottom: 10%;
    }

    .book-information {
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }
    
    .buttons {
        width: 98%;
        padding-top: 10%;
    }

    .bookListBtn {
        margin-top: 2%;
    }

    #buttons-book-rating {
        margin-top: 6%;
    }
}