@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

.Welcome {
    display:grid;
    grid-template-rows: repeat(14, auto);
    height: 85vh;
    width: 100%;
    font-family: 'Inria Serif', serif;
    color: white;
    text-align: center;
    background-size: 100% 85vh;
    background-image: url("https://lh3.googleusercontent.com/g8QZTcjx8sIWeMoHoY3-oH8AAYLsYjswPhyah7bTj8R6oh16qRg38IIzULp0Fj9k_s_Xsmf8F1bW-DywKXtu-MEvhB2R43mri62sszWRjRNyO8reY-3SWfRmryEHKVq3nJkGX59G8IE");;
}

.Welcome > h2 {
    grid-row: 4;
    font-size: 30px;
    font-weight: lighter;
}

.Welcome > h3 {
    grid-row: 5;
    font-size: 25px;
    font-weight: lighter;
}